{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - CribConnect</title>
    <link rel="stylesheet" href="{% static 'ccapp/index.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img src="{% static 'images/cribconnect.png' %}" alt="Logo">CribConnect</a>
            <div class="search-container" style="margin-left: 70px">
                <input type="search" placeholder="Search">
                <button type="click">Search</button>
            </div>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="#">CribShare</a></li>
                <li><a href="http://localhost:8000/cribconnect/propertylisting/">List your Property</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <div class="login-button">
                    <a href="http://localhost:8000/cribconnect/module2" style="text-decoration: none;">
                        <button type="button">
                            {% if account.profilePicture %}
                            <img src="{{ account.profilePicture.url }}" height="25px" width="25px" style="padding-inline-end: 5px; display: flex;">
                            {% else %}
                            <img src="{% static 'images/accounticon.png' %}"  height="25px" width="25px" style="padding-inline-end: 5px; display: flex;">
                            {% endif %}
                            {{ user.username }}
                        </button>
                    </a>
                </div>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="listings">
            <!-- Repeat this block for each listing -->
            {% for crib in cribshare %}
            <div class="listing">
                <a href="{% url 'listingpage' crib.listingID.id %}">
                    <img src="{{ crib.listingID.primaryImage.url }}">
                    <div class="info">
                        <p class="price" style="font-size: larger;">₱ {{ crib.listingID.price }}</p>
                        <p class="city" style="color: white; font-size: medium;">{{ crib.listingID.address.municipality }} City</p>
                        <p class="details">{{ crib.listingID.description }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- ... more listings ... -->
        </div>
        <div class="view-all">
            <button>View all</button>
        </div>
    </div>
    <!-- Pagination -->
    <div class="pagination">
        <a href="#">&laquo; Previous</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">Next &raquo;</a>
    </div>

    <!-- Categories -->
    <div class="category-title">Categories</div>
    <div class="categories">
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Studio">
            <div class="category-name">Category</div>
        </div>
        <!-- Repeat for each category -->
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
        <div class="category">
            <img src="{% static 'images/interior_category.jpg' %}" alt="Near Mall">
            <div class="category-name">Category</div>
        </div>
    </div>
</body>
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>ABOUT</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>SERVICES</h3>
            <ul>
                <li><a href="#">CribShare</a></li>
                <li><a href="#">List Your Property</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>FOLLOW US</h3>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Pinterest</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>OTHER</h3>
            <ul>
                <li><a href="#">Video Tutorial</a></li>
                <li><a href="#">Vlogs & Ideas</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>
